version: 2.1

jobs:
  run:
    docker:
      - image: cimg/openjdk:21.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Download Dependencies
          command: mvn dependency:go-offline
      - run:
          name: Run Tests
          command: mvn test
      - run:
          name: Build Package
          command: mvn -B -DskipTests package
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/portfolio-jsp-0.0.1-SNAPSHOT.jar

  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Plan deployment
          command: |
            circleci run release plan "${CIRCLE_JOB}" \
              --environment-name="default" \
              --component-name="${CIRCLE_PROJECT_REPONAME}" \
              --target-version="1.0.${CIRCLE_BUILD_NUM}-${CIRCLE_SHA1:0:7}"
      - run:
          name: Deploy Configuration
          command: |
            echo "Deploying to Render..."
            # Uncomment the following line if you have a Render Deploy Hook URL configured
            # if [ -n "${RENDER_DEPLOY_HOOK_URL}" ]; then curl -X POST "${RENDER_DEPLOY_HOOK_URL}"; fi
      - run:
          name: Update deployment status to running
          command: circleci run release update "${CIRCLE_JOB}" --status=RUNNING
      - run:
          name: Update deployment status to success
          command: circleci run release update "${CIRCLE_JOB}" --status=SUCCESS
          when: on_success
      - run:
          name: Update deployment status to failed
          command: circleci run release update "${CIRCLE_JOB}" --status=FAILED
          when: on_fail

workflows:
  portfolio:
    jobs:
      - run
      - deploy:
          requires:
            - run
          filters:
            branches:
              only: main
