version: 2.1

jobs:
  run:
    docker:
      - image: cimg/openjdk:21.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Download Dependencies
          command: mvn dependency:go-offline
      - run:
          name: Run Tests
          command: mvn test
      - run:
          name: Build Package
          command: mvn -B -DskipTests package
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/portfolio-jsp-0.0.1-SNAPSHOT.jar

workflows:
  sample:
    jobs:
      - run
